/* @override http://mailserv.localhost/stylesheets/default.css */

html {
  background-color: #f3f3f3;
}

body {
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

p, li {
  line-height: 150%;
}

p {
  margin-top: 0.5em;
}

h2 {
  margin-top: 2em;
}

h2:first-child {
  margin-top: 0;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

#hd h1 {
  font-size: 160%;
  font-weight: bold;
  background: url(/images/mailserver-logo.png) no-repeat;
  padding: 20px 80px;
}

#doc {
  background-color: white;
  padding: 2em;
  border: 2px solid #9ed3e3;
  margin: 10px auto;
  width: 780px;
}

#bd {
  margin-top: 20px;
}

ul {
  margin: 10px 30px;
}

li {
  list-style-type: disc;
}

pre {
  border: 1px solid #ccc;
  padding: 0.5em;
  margin: 1em;
}

code {
  font-family: "Panic Sans", "Courier New", Courier, fixed-width;
  line-height: 160%;
  font-size: 100%;
}

